@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eee;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.comment > .form-component {
    margin-top: -1em;
}

.comment {
    position: relative;
    border-bottom: 1px solid #eee;
}

.replies-list {
    border-left: 1px solid hsl(228, 33%, 97%);
}

.shadow {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, .1);
    inset: 0;
    display: grid;
    place-content: center;
}

.modal {
    position: relative;
    background-color: white;
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
}

@layer components {
    .btn {
        @apply flex items-center gap-3 text-primary-moderate-blue font-bold;
    }

    .modal-btn {
        @apply p-3 px-7 text-white uppercase rounded-md flex-grow;
    }
}

@media screen and (max-width: 768px) {
    .items-list {
        position: relative;
        flex-direction: column-reverse;
    }
    
    .buttons {
        position: absolute;
        bottom: .8em;
        right: 0;
    }
    
    .score-component {
        display: flex;
        gap: 1em;
        width: 6em;
        justify-content: center;
        flex-direction: row-reverse;
        padding: 0;
    }
}