@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eee;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.comment > .form-component {
    margin-top: -1em;
}